body {
    margin: auto;
    width: 7.5in;
    padding: .5in;
    padding-bottom: 0;
    font-family: "Open Sans", Georgia, serif;
    color: #2E2B00;
    background: #FBFBFB;
}

h1 {
    font-family: 'Merriweather', Georgia, Serif;
}

h2 {
    margin-top: 2em;
    font-family: 'Merriweather', Georgia, Serif;
}

h3 {
    margin-top:0;
    font-family: 'Merriweather', Georgia, Serif;
}

h4 {
    margin-top:0;
    font-family: 'Merriweather', Georgia, serif;
}

* {
    clear: both;
}
a {
    text-decoration: none;
    color: #474519;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-top: .2em;
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}
